<header>
  <nav>
    <ul class="nav-list">
      <li class="nav-listitem"><a href="/">Todo App</a></li>
      <li class="nav-listitem"><a href="/">Home</a></li>
      <li class="nav-listitem"><a href="/api/auth/login">Login</a></li>
      <li class="nav-listitem"><a href="/api/auth/signup">Sign Up</a></li>
    </ul>
  </nav>
</header>
